Gemfile
.DS_Store
.coverage
.env
*.pyc
__pycache__/
ptenv/
venv/
.cache/
build/
dist/
peartree.egg-info/
notebooks/
performance/cprof-output.py
.eggs/
.pytest_cache/
profile/
.coverage-e
coverage.xml
.vscode/
Pipfile